/*The background color of the whole page*/
body {
    background-color: rgb(41, 48, 54);
}

/*The style of the navigation bar*/
.navbar {
    display: flex;
    background-color: rgb(0, 83, 161);
    align-items: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*The style of the data inside the navigation bar*/
.navbar a {
    text-decoration: none;
    color: rgb(175, 223, 255);
    padding: 20px 0px;
    display: block;

}

/*The color when you hover over the navigation bar*/
.navbar a:hover {
    background-color: #3ca5c0;
    color: rgb(175, 223, 255);
    border-radius: 20px;
}

.navbar .logo {
    margin-right: auto;
    margin-left: 70px;
}

.navbar .logo img {
    height: 85px;
}

.navbar .menu-item {
    margin-right: 5%;
}

#Header {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 40%;
    padding: 70px;
    text-align: center;
}

#Paragraph {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 35%;
    text-align: center;
}

#Paragraph1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 35%;
    text-align: center;
}

#subheading {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 32%;
    padding: 0px;
    text-align: center;
}

#Team {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 25%;
    padding: 50px;
    text-align: center;
}

#Paragraph2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: auto;
    margin-right: 19%;
    width: 15%;
    text-align: center;
    position: absolute;
    float: right;
    top: 775px;
    right: 300px;
    overflow: hidden;
}

#geometry_photo {
    margin-left: 35%;
    margin-top: 6%;
}

#Paragraph3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: auto;
    margin-right: 19%;
    width: 15%;
    text-align: center;
    position: absolute;
    float: right;
    top: 550px;
    right: 300px;
    overflow: hidden;
}

#algebra_photo {
    margin-left: 35%;
    margin-top: 6%;
}

#Identity {
    text-align: left;
    color: rgb(255, 255, 255);
    margin: 0%;

}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    color: white;
    width: 50%;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    color: white;
    width: 50%;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    color: white;
    width: 50%;
}

.container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    color: white;
    width: 50%;
}