/*The background color of the whole page*/
body{
    background-color:rgb(41, 48, 54);
}
/*The style of the navigation bar*/
.navbar ul{
    background-color: rgb(1, 101, 184);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    }
/*The style of the data inside the navigation bar*/  
.navbar a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding:15px;
    text-align: center;
    display: block;
    }  
 /*The color when you hover over the navigation bar*/     
.navbar a:hover{
    background-color: rgb(76, 160, 190);
    }

.navbar li{
    display: inline-block;
}

fieldset {
    border: 0;
    margin: 2rem 0;
}
  
fieldset legend {
    font-weight: 700;
}
  
.answer__item {
    background-color: #d7d7d7;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    margin: 0.25rem 0;
    border-radius: 40px;
}

/* Any correct answer on any answered question, highlight in light green */
:valid .answer__item--is-correct { background-color: rgba(61, 181, 64, 0.6) }
  
/* Any chosen answer, highlight in red */
:checked + .answer__item { color: #000000; background-color: #c70000 }
  
/* Any correctly chosen answer, highlight in bright green */
:checked + .answer__item--is-correct { background-color: #3db540; }
  
/* Show the icon for the selected answer */
:checked + .answer__item .answer__icon { display: inline-block }
  
/* prevent chosing another answer once chosen */
:valid { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
:valid + .answer__item { pointer-events: none }
  
/* keep track of score */
form { counter-reset: quiz-score }
:checked + .answer__item--is-correct { counter-increment: quiz-score }
.score:after { content: counter(quiz-score) "/" attr(data-question-count) }
  
/* show score once quiz has been completed */
.message { display: none; }
form:valid .message { display: block }
.GFG { 
    width:100px;
    height:50px;
    color:white;
}
#Question{
    font-size: 25px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}